@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --corDestaque: #C92071;
    --corBranca: #FFF;
    --corGradientePrimaria: #B5B6F2; 
    --corGradienteSecundaria: #EFEFFF; 
    --corTitulo: #1F1F1F;
    --corParafrafo: #474747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
     color: var(--corParafrafo);
}

    html , body {
        height: 100%;
    }

    header {
        div {
            width: 11.125rem; height: 4rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .2725rem;

            span {
                font-weight: 600;
                font-size: 1.2406rem;
                color: var(--corDestaque)
            }
            
        }
    }

    main {
        padding: 3.9375rem 0 5rem;
        background: linear-gradient(
            var(--corGradientePrimaria),
            var(--corGradienteSecundaria)
            );


        form {
            background-color: var(--corBranca);
            width: 19.6875rem; 
            height: 35.75rem;
            margin: 0 auto;
            padding: 1.875rem;
           

            .titulo {
                h1 {
                    font-size: 1.375rem;
                    letter-spacing: .125rem;
                    text-align: center;
                    color: var(--corTitulo);
                    line-height: 2.125rem;
                }

                p {
                    font-size: .875rem;
                    letter-spacing: .0156rem;;
                    text-align: center;
                }
            }
        }
    }